<ion-view view-title="misleybiologia">
  <ion-content class="padding">
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <h2 class="jacky">BIOLOGIA</h2>
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <p>
          El cuidado del agua es una responsabilidad compartida socialmente y desde cada hogar se puede contribuir con simples prácticas de consumo eficiente para que las futuras generaciones puedan contar con este recurso indispensable para la vida<a href="http://market.ionic.io/starters" target="_blank" rel="noopener">Ionic Market</a>.
          </p>
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <p>
          El cuidado del agua es una responsabilidad compartida socialmente y desde cada hogar se puede contribuir con simples prácticas de consumo eficiente para que las futuras generaciones puedan contar con este recurso indispensable para la vida<a href="http://market.ionic.io/starters" target="_blank" rel="noopener">Ionic Market</a>.
          </p>
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <p>
            To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
          </p>
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <center><video src="https://youtu.be/HccXKg8p_Kc" controls height="300" width="500"></video></center>
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
