<ion-view view-title="ADN">
  <ion-content>
     <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
