<ion-view view-title="TABLAS">
  <ion-content>
   <h1>TABLAS NUTRICIONALES ALIMENTOS DE ADOLESCENTES
</h1>
      
      <center>

        <div class="nutrifacts-html">
      <h3>Desayuno del adolescente
</h3>
      <span> huevos con frijoles, cereal y jugo de naranja</span>
      <div class="separator"></div>
      <!-- Tabla -->
      <table>
        <tr>
          <td colspan="2">
            <strong>comida sana</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calorias(energia)</strong> 800
          </td>
          <td class="align-text-right">calorias de grasa 300</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">total caloria <strong>1200</strong></td>
        </tr>
        <tr>
          <td><strong>Total Fat</strong> 600g</td>
          <td class="align-text-right">99%</td>         
        </tr>
        <tr>
          <td>huevos 12</td>
          <td class="align-text-right">80%</td>
        </tr>
        <tr>
          <td>proteinas</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Colesterol</strong> 0mg</td>
          <td class="align-text-right">9%</td>          
        </tr>
        <tr>
          <td><strong>fibra</strong> 1200mg</td>
          <td class="align-text-right">62%</td>
        </tr>
        <tr>
          <td>Dietary Fiber 9g</td>
          <td class="align-text-right">35%</td>
        </tr>
        <tr>
          <td>azucar</td>
          <td>24%</td>
        </tr>
        <tr>
          <td><strong>magnesio</strong> 4,5</td>
          <td></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- Vitamin table -->
      <table>
        <tr>
          <td>Vitamin B , B12, A13</td>
          <td class="align-text-right">9%</td>
          <td>• Vitamin C</td>
          <td class="align-text-right">112%</td>
        </tr>
        <tr>
          <td>Calcio</td>
          <td class="align-text-right">10%</td>
          <td>• hierro</td>
          <td class="align-text-right">21%</td>
        </tr>
      </table>
      <!-- Info -->
      <div class="info">
        el desayuno es la comida mas importante del día ya que es la fuerza para nuestras labores diarias
        </center>

 </div>

<img src="img/1.jpg">


    <!-- Tabla de nutricion en HTML -->
    <center>
        <div class="nutrifacts-html">
      <h4>ALmuerzo del adolescente
</h4>
      <span> Carne, ensalada y coca cola</span>
      <div class="separator"></div>
      <!-- Tabla -->
      <table>
        <tr>
          <td colspan="2">
            <strong>comida sana</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calorias</strong> 1500
          </td>
          <td class="align-text-right">calorias de grasa 700</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">calorias totales<strong>2200</strong></td>
        </tr>
        <tr>
          <td><strong>Proteinas</strong> 64g</td>
          <td class="align-text-right">20.0%</td>         
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">80%</td>
        </tr>
        <tr>
          <td>Calcio</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>grasa</strong> 98mg</td>
          <td class="align-text-right">0%</td>          
        </tr>
        <tr>
          <td><strong>Energia kcal</strong> 1485mg</td>
          <td class="align-text-right">62%</td>
        </tr>
        <tr>
          <td>Colesterol 100g</td>
          <td class="align-text-right">58%</td>
        </tr>
        <tr>
          <td>azucar</td>
          <td>50%</td>
        </tr>
        <tr>
          <td><strong>Protein</strong> 15g</td>
          <td></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- Vitamin table -->
      <table>
        <tr>
          <td>Vitamin B12 ,B1s</td>
          <td class="align-text-right">9%</td>
          <td>• Vitamin C</td>
          <td class="align-text-right">112%</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right"></td>
          <td>• </td>
          <td class="align-text-right"></td>
        </tr>
      </table>
      <!-- Info -->
      <div class="info">
        almuerzo debemos comer moderadamente un poco más que el desayuno
        </center>
        <img src="http://4.bp.blogspot.com/-v18Y2-RC1v8/UFJBHl625JI/AAAAAAAAADs/830S8Ibko2c/s1600/menu.jpg">

      </div>
    </div>




   <center>

        <div class="nutrifacts-html">
      <h3>Cena del adolescente
</h3>
      <span> frijoles con queso y cafe</span>
      <div class="separator"></div>
      <!-- Tabla -->
      <table>
        <tr>
          <td colspan="2">
            <strong></strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calorias</strong> 200g
          </td>
          <td class="align-text-right">calorias de grasa 100</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">total calorias <strong>300</strong></td>
        </tr>
        <tr>
          <td><strong>Fribra</strong> 20g</td>
          <td class="align-text-right">64%</td>         
        </tr>
        <tr>
          <td>Saturated Fat 16g</td>
          <td class="align-text-right">80%</td>
        </tr>
        <tr>
          <td>Proteina</td>
          <td></td>
        </tr>
        <tr>
          <td><strong></strong> 0mg</td>
          <td class="align-text-right">0%</td>          
        </tr>
        <tr>
          <td><strong>sodio 800gm</strong> </td>
          <td class="align-text-right">45%</td>
        </tr>
        <tr>
          <td>colesterol 180gm</td>
          <td class="align-text-right">5%</td>
        </tr>
        <tr>
          <td>azucar</td>
          <td></td>
        </tr>
        <tr>
          <td><strong></strong> </td>
          <td></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- Vitamin table -->
      <table>
        <tr>
                  <td class="align-text-right"></td>
          <td>• complejo B</td>
          <td class="align-text-right">112%</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right"></td>
          <td>• </td>
          <td class="align-text-right"></td>
        </tr>
      </table>
      <!-- Info -->
      <div class="info">
        en la cena es donde debemos comer un poco menos

        </center>

<img src="https://previews.123rf.com/images/suksao/suksao1401/suksao140100011/24807472-el-desayuno-incluye-galletas-pl%C3%A1tanos-y-jugo-de-naranja-en-el-blanco-.jpg">


<h5> REFACCIONES DEL ADOLESCENTE
</h5>
<center>

        <div class="nutrifacts-html">
      <h4>Refaccion del adolescente
</h4>
      <span> jugo y  galletas</span>
      <div class="separator"></div>
      <!-- Tabla -->
      <table>
        <tr>
          <td colspan="2">
            <strong>comida sana</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calorias (energia)</strong> 140kl
          </td>
          <td class="align-text-right">calorias de grasa 100</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">total calorias <strong>300</strong></td>
        </tr>
        <tr>
          <td><strong>colesterol OMG</strong> 0g</td>
          <td class="align-text-right">0%</td>         
        </tr>
        <tr>
          <td>fibra dieteria 16g</td>
          <td class="align-text-right">40%</td>
        </tr>
        <tr>
          <td>Proteina</td>
          <td></td>
        </tr>
        <tr>
          <td><strong></strong> 0mg</td>
          <td class="align-text-right">0%</td>          
        </tr>
        <tr>
          <td><strong></strong> </td>
          <td class="align-text-right">45%</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right"></td>
        </tr>
        <tr>
          <td>azucar</td>
          <td></td>
        </tr>
        <tr>
          <td><strong></strong> </td>
          <td></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- Vitamin table -->
      <table>
        <tr>
                  <td class="align-text-right"></td>
          <td>• vitamis B1,C ,B12</td>
          <td class="align-text-right">112%</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right"></td>
          <td>• </td>
          <td class="align-text-right"></td>
        </tr>
      </table>
      <!-- Info -->
      <div class="info">
     una pequeña refacción para levantar el animo


        </center>
  </ion-content>
</ion-view>
