<ion-view view-title="Infografias">
  <ion-content>
    <!--tex infografias-->
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="cent">Infografias</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <center><img height="270" width="270" src="img/gameto.jpg"></center>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <center><img height="350" width="250" src="img/CapturaPS.png"></center>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

