<ion-view view-title="ADN">
  <ion-content>
    <p>
    El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados genes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.
    </p>
     <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
            <div class="dna"></div>
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
