<ion-view view-title="VIDEO">
<ion-content>
	<center>	
<div class="container">
	<h2>EL CUIDADO DEL AGUA</h2>
	<p>El agua es una fuente de vida insustituible y fundamental para el desarrollo de la sociedad. Además de ser esencial, el agua es un recurso agotable y cada vez más escaso a escala mundial.

Por ello, si logramos disminuir el consumo de agua potable, contribuiremos a preservar el medio ambiente y a mantener la calidad del servicio. Al mismo tiempo, podremos favorecer nuestra condición de vida y construir un importante vínculo solidario.

Por estas razones, es imprescindible que hagamos un uso apropiado del recurso.</p>
	<div class="row">
		<div class="col">

			<iframe width="400" height="400" src="https://www.youtube.com/embed/HccXKg8p_Kc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<h2>EL EMBARAZO Y FECUNDACION</h2>

			<p>Los espermatozoides pasarán por la vagina, atravesarán el útero y llegarán a las trompas de Falopio. De los cientos de miles de espermatozoides, solamente uno podrá fecundar el óvulo. El óvulo fecundado es una nueva célula que se denomina cigoto. El cigoto baja de las trompas de Falopio y se implanta en el útero.
			</p>

			<iframe width="400" height="400" src="https://www.youtube.com/embed/kHIXHC_rRjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<h2>METODOS ANTICONCEPTIVOS</h2>
			<p>
				Dispositivos intrauterinos. Anticonceptivos de barrera masculinos (condón) y femeninos (condón, diafragma; espermicidas). Método de la amenorrea de lactancia. Métodos de abstinencia periódica (moco cervical (Billings); calendario; temperatura basal; sintotérmico)
			</p>


			<iframe width="400" height="400" src="https://www.youtube.com/embed/NdEKzlIittk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


		</div>
	</div>
</div>
</center>
</ion-view>
</ion-content>